@model IEnumerable<Mvc3ViewDemo.Controllers.Blog>
@{
    ViewData["Title"] = "StonglyTypedIndex";
}

<h2>StonglyTypedIndex</h2>

<ul>
    @foreach (var item in Model)
    {
        <li><a href="item.URL">@item.Name</a></li>
    }
</ul>

